@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    position: fixed; /* Fixe la navbar en haut */
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour être sûr que la navbar soit au-dessus du reste */
}

.logo_title, .navbar ul li a {
    color: #1a202c;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li a {
    padding: 12px;
    margin: 0 6px;
}

.navbar ul li a:hover {
    color: white;
    background-color: #1a202c;
    border-radius: 4px;
}


.parallax{
    background-image: url('img/code.webp');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%; /* L'image commence zoomée */
    animation: zoomOutEffect 5s ease-in-out forwards; /* Animation pour dézoomer */
    text-align: center;
    color: wheat;
    position: relative; /* Nécessaire pour positionner le texte */
}

/* Animation zoom-dézoom */
@keyframes zoomOutEffect {
    0% {
        background-size: 150%; /* Image zoomée au début */
    }
    100% {
        background-size: 100%; /* Taille normale à la fin */
    }
}

/* Texte centré dans l'image */
.centered-text {
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour vraiment centrer */
    text-align: center;
    color: white; /* Couleur du texte */
}

.centered-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.centered-text p {
    font-size: 24px;
}
.content {
    padding: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

.parallax h1 {
    top: 50%;
    left: 50%;
}

.parallax p {
    font-size: 18px;
    line-height: 1.6;
}

/* Icône pour défiler vers le bas */
.scroll-down {
    position: absolute;
    bottom: -400px; /* Place l'icône à 20px du bas de la section */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Centre parfaitement l'icône */
    font-size: 32px;
    color: #1a202c;
    cursor: pointer;
    animation: bounce 2s infinite; /* Animation pour faire rebondir l'icône */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0); /* L'icône revient à sa position initiale */
    }
    40% {
        transform: translateX(-50%) translateY(-10px); /* L'icône monte légèrement */
    }
    60% {
        transform: translateX(-50%) translateY(-5px); /* L'icône monte légèrement moins */
    }
}

.content2 {
    padding: 50px;
    background-color: #EDF2F7;
    text-align: center;
    color: #1a202c;
}
.content2 .competance{
    margin-left: 300px;
    margin-bottom: 50px;
    text-align: justify;
}

.content3 {
    padding: 50px;
    background-color: white;
    text-align: center;
    color: #1a202c;
    font-size: xx-large;
}
.content3 a{
    color: #1a202c;
}
.content3 a:hover{
    color: #1a202c;
}
.footer{
    background-color: black;
    color: white;
}

.footer .contact{
    margin-left: 250px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.footer a{
    color: white
}

.footer a:hover{
    color: antiquewhite;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.copyrate{
    margin-left: 400px;
}





